@font-face {
    font-family: "mainFont";
    src: url(../fonts/Rajdhani-SemiBold.ttf);
}

:root {
    --c1: rgb(61, 25, 91);
    --c2: rgb(255, 255, 255);
}

* { 
    font-family: "mainFont";
}

body,
.top-bar {
    display: flex;
    align-items: center;
}

body {
    justify-content: center;
    background-color: var(--c2);
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

.top-bar {
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 5rem;
    background-color: var(--c3);
    box-shadow: 0 0 30px 5px var(--c1);
    z-index: 100;
}

.top-bar > * {
    margin: 0 2rem;
}

.top-bar > a > img {
    width: 45px;
}

.table,
.fixtures {
    position: relative;
    margin: 0 2rem;
    top: 17vh;
    background-color: var(--c2);
    border: 2px solid var(--c1);
    height: 700px;
    border-radius: 15px;
}

.starting_screen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: var(--c1);
    transition: 0.4s;
}

.simulate_button {
    position: absolute;
    top: 40%;
    z-index: 101;
    width: 10rem;
    height: 5rem;
    background-color: var(--c2);
    border: none;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.table,
.fixtures {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.row {
    height: 2rem;
}

.row,
.fixture {
    padding: 15px;
    display: flex;
}

.fixture {
    background-color: var(--c1);
}

.row > *,
.fixture > * {
    flex: 1;
    /* border: 1px solid red; */
}

.row > *:not(.col-name):not(.col-info),
.fixture > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-pos {
    flex: 0.1;
}

.col-pos-color {
    position: absolute;
    left: 0;
    height: 4rem;
    width: 4px;
}

.col-pic {
    flex: 0.1;
}

.team-pic > img,
.col-pic > img {
    width: 25px;
}

.col-name {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.col-info {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row:nth-child(odd) {
    background-color: rgb(244, 244, 244);
}

.team-name {
    text-align: center;
}

.team-pic {
    flex: 0.1;
}

.result {
    flex: 0.2;
}

.fixture > p {
    align-self: center;
}

.back-button, 
.refresh-button {
    color: var(--c1);
    text-decoration: none;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--c2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--c1);
}

/*
 * it is a debug line
 */

/* .row > *,
.fixture > * {
    border: 1px solid red;
} */



@media screen and (max-width: 1365px) {
    body {
        flex-direction: column;
    }

    .table,
    .fixtures {
        margin-bottom: 2rem;
        min-width: 65%;
    }
}


@media screen and (max-width: 1618px) {
    * {
        font-size: 13px;
    }

    .col-pos-color {
        height: 4.5rem;
    }
}


@media screen and (max-width: 623px) {
    .table,
    .fixtures {
        margin-bottom: 2rem;
        min-width: 85%;
    }

    * {
        font-size: 13px;
    }

    .col-pic {
        flex: 0.2;
    }
}


@media screen and (max-width: 434px) {
    .result {
        flex: 0.3;
    }
}


@media screen and (max-width: 534px) {
    * {
        font-size: 12px;
    }

    .back-button, 
    .refresh-button {
        font-size: 18px;
    }
}


@media screen and (max-width: 900px) {
    .top-bar > a > img {
        width: 30px;
    }
}