:root {
    --c1: rgb(255, 75, 68);
    --c2: rgb(0, 0, 27);
    --c3: rgb(255, 255, 255);
}

body {
    background-color: var(--c3);
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

.top-bar {
    position: absolute;
    top: 0;
    height: 5rem;
    background-color: var(--c3);
    box-shadow: 0 0 30px 5px var(--c1);
    z-index: 100;
}

body,
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table,
.fixtures {
    position: relative;
    top: 17vh;
    background-color: var(--c1);
    height: 700px;
    border-radius: 15px;
}

@media screen and (max-width: 748px) {
    body {
        flex-direction: column;
    }

    .table,
    .fixtures {
        margin-bottom: 2rem;
        max-width: 1%;
        min-width: 90%;
    }
}